/*===============================================================================================*/
/*Общее */
/*===============================================================================================*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #aaa;
    font: 100%/20px 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.center {
    padding: 100px 0 0;
}

/*===============================================================================================*/
/*Структура */
/*===============================================================================================*/
#game-wrap {
    background: #000;
    border: 2px solid #1d1d1d;
    height: 640px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -322px 0 0 -402px;
}

.window {
    height: 520px;
    width: 700px;
    padding: 120px 50px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#main {
    display: none;
}

#game {
    display: none;
}

/*===============================================================================================*/
/*Канвас */
/*===============================================================================================*/
canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.map {
    z-index: 2;
}

#peopleCanvas {
    display: none;
}

#spiritCanvas {
    display: none;
}

#playerCanvas {
    z-index: 3;
}

#teleportCanvas {
    z-index: 4;
}

/*===============================================================================================*/
/*Кнопки */
/*===============================================================================================*/
.button {
    background: linear-gradient(#222, #111);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 1px 0 #222;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
    width: 348px;
}

.button span {
    border-radius: 2px;
    box-shadow: inset 0 1px 0 #333;
    color: #ccc;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
}

.button:hover span {
    background: rgba(255, 255, 255, .05);
    color: #fff;
}

.button:active span {
    background: #111;
    box-shadow: inset 0 0 10px #000;
    color: #999;
}

/*============================================================================================*/
/*Menu Bar */
/*============================================================================================*/
#menu-bar {
    display: none;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 800px;
    z-index: 50;
}

#menu-bar a {
    display: block;
    background: rgba(255, 255, 255, .08);
    color: #cccccc;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 1px 1px 0 1px;
    padding: 0 15px;
    width: 50px;
}

#menu-bar a:hover {
    background: rgba(255, 255, 255, .1);
    color: #ffffff;
}

#menu-bar a.off {
    color: #cc0000;
    text-decoration: line-through;
    text-shadow: none;
}

#menu-bar a.off:hover {
    color: #ff0000;
}

#menu-bar #toggleMusic, #menu-bar #toggleSound {
    float: left;
}

#menu-bar #toggleHelp, #menu-bar #togglePause {
    float: right;
}