/*===============================================================================================*/
/*Общее */
/*===============================================================================================*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #aaa;
    font: 100%/20px 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
    outline: none;
}

h2 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px;
}

h3 {
    color: #2f2;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
}

/*===============================================================================================*/
/*Структура */
/*===============================================================================================*/
#game-wrap {
    background: #000;
    border: 5px solid #333;
    height: 640px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -325px 0 0 -405px;
}

canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

#main {
    /*display: none;*/
}

#game {
    display: none;
}

#mapCanvas {
    z-index: 1;
}

#playerCanvas {
    z-index: 3;
}

/*===============================================================================================*/
/*Заголовок */
/*===============================================================================================*/
h1 {
    color: #fff;
    margin: 0 0 10px;
}

p.desc {
    color: #666;
    font-size: 14px;
}

p.desc a {
    color: #999;
}

p.desc a:hover {
    color: #fff;
}

/*===============================================================================================*/
/*Меню */
/*===============================================================================================*/
.menu {
    background: #111;
    height: 590px;
    width: 700px;
    padding: 50px 50px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#pause {
    background: rgba(20, 20, 20, .5);
}

#main {
    display: block;
}

#pause {
    display: none;
}

#upgrades-levels {
    display: none;
}

/*===============================================================================================*/
/*Смешанный */
/*===============================================================================================*/
.divider {
    background: #000;
    border-bottom: 1px solid #222;
    clear: both;
    height: 1px;
    margin: 0 0 20px;
}

#no-can {
    display: none;
    margin: 0 auto;
    width: 500px;
}

#no-can p {
    font-size: 14px;
    text-align: center;
}

#no-can a {
    color: #4f4;
}

#no-can a:hover {
    color: #afa;
}

/*===============================================================================================*/
/*Гид */
/*===============================================================================================*/
#guide {
    text-align: left;
    /*margin: 0 auto;*/
    /*width: auto;*/
}

#guide ul {
    font-size: 14px;
    /*margin: 0 0 20px;*/
}

#guide li {
    list-style: none;
    margin: 0 0 7px;
}

#guide li strong {
    color: #fff;
}

#guide .pwrup1, #guide .pwrup2, #guide .pwrup3, #guide .pwrup4 {
    cursor: help;
    padding: 0 0 0 0;
    position: relative;
}

#guide .pwrup1:hover .tip, #guide .pwrup2:hover .tip, #guide .pwrup3:hover .tip, #guide .pwrup4:hover .tip {
    display: block;
    font-style: normal;
}

#guide .pwrup1 {
    color: hsl(205, 100%, 50%);
}

#guide .pwrup2 {
    color: hsl(0, 100%, 50%);
}

#guide .pwrup3 {
    color: hsl(60, 100%, 50%);
}

#guide .pwrup4 {
    color: hsl(300, 100%, 50%);
}

/*===============================================================================================*/
/*Обновление списка */
/*===============================================================================================*/
.tip {
    display: none;
    background: #111;
    border: 1px solid #333;
    border-radius: 2px;
    /*box-shadow: 0 0 10px 1px #000;*/
    width: 160px;
    bottom: 100%;
    left: 50%;
    margin: 0 0 16px -101px;
    padding: 8px 20px;
    color: #ccc;
    font-size: 14px;
    font-weight: normal;
    /*line-height: 19px;*/
    position: absolute;
    text-align: center;
    z-index: 2;
}

.tip strong {
    color: #fff;
}

.tip:before, .tip:after {
    border: 1px solid transparent;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 0;
}

.tip:before {
    border-top-color: #333;
    border-width: 7px;
    margin-left: -7px;
    z-index: 1;
}

.tip:after {
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
    z-index: 2;
}

/*===============================================================================================*/
/*Кнопки */
/*===============================================================================================*/
.button {
    background: linear-gradient(#222, #111);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 1px 0 #222;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
    width: 348px;
}

.button span {
    border-radius: 2px;
    box-shadow: inset 0 1px 0 #333;
    color: #ccc;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
}

.button:hover span {
    background: rgba(255, 255, 255, .05);
    color: #fff;
}

.button:active span {
    background: #111;
    box-shadow: inset 0 0 10px #000;
    color: #999;
}