/*===============================================================================================*/
/*Общее */
/*===============================================================================================*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    color: #aaa;
    font: 100%/20px 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.center {
    padding: 100px 0 0;
}

/*===============================================================================================*/
/*Структура */
/*===============================================================================================*/
#loading {
    background: #000000 url(../images/LOADING.gif) no-repeat center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

#cover {
    background: url(../images/COVER.png);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
}

#game-wrap {
    background: url(../images/MAIN.png);
    border: 2px solid #1d1d1d;
    height: 640px;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -322px 0 0 -402px;
}

.window {
    height: 520px;
    width: 700px;
    padding: 120px 50px 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#main {
    display: none;
}

#levels {
    display: none;
    background: url(../images/LEVELS.png);
}

#overall-stats {
    display: none;
    background: url(../images/OVERALL_STATS.png);
}

#game-stats {
    display: none;
    background: url(../images/OVERALL_STATS.png);
}

#pause {
    display: none;
    background: rgba(20, 20, 20, .5);
    z-index: 10;
}

#game {
    display: none;
}

/*===============================================================================================*/
/*Канвас */
/*===============================================================================================*/
canvas {
    cursor: crosshair;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.map {
    z-index: 2;
}

#peopleCanvas {
    display: none;
}

#spiritCanvas {
    display: none;
}

#playerCanvas {
    z-index: 3;
}

#teleportCanvas {
    z-index: 8;
}

/*===============================================================================================*/
/*Кнопки */
/*===============================================================================================*/
.button {
    background: linear-gradient(#222, #111);
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0 1px 0 #222;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
    width: 348px;
}

.button span {
    border-radius: 2px;
    box-shadow: inset 0 1px 0 #333;
    color: #ccc;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
}

.button:hover span {
    background: rgba(255, 255, 255, .05);
    color: #fff;
}

.button:active span {
    background: #111;
    box-shadow: inset 0 0 10px #000;
    color: #999;
}

.btnLevel {
    background: linear-gradient(rgba(34, 34, 34, .7), rgba(17, 17, 17, .7));
    display: block;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
}

.btnLevel span {
    color: #cccccc;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
}

.btnLevel:hover span {
    background: rgba(255, 255, 255, .05);
    color: #ffffff;
}

.btnLevel:active span {
    background: rgba(17, 17, 17, .05);
    color: #999999;
}

.btnLevel.disabled {
    cursor: default;
    opacity: .25;
}

/*============================================================================================*/
/*Menu Bar */
/*============================================================================================*/
#menu-bar {
    display: none;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 800px;
    z-index: 50;
}

#menu-bar a {
    display: block;
    background: rgba(255, 255, 255, .08);
    color: #cccccc;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 1px 1px 0 1px;
    padding: 0 15px;
    width: 50px;
}

#menu-bar a:hover {
    background: rgba(255, 255, 255, .1);
    color: #ffffff;
}

#menu-bar a.off {
    color: #cc0000;
    text-decoration: line-through;
    text-shadow: none;
}

#menu-bar a.off:hover {
    color: #ff0000;
}

#menu-bar #toggleMusic, #menu-bar #toggleSound {
    float: left;
}

#menu-bar #toggleHelp, #menu-bar #togglePause {
    float: right;
}

/*============================================================================================*/
/* Audio Select */
/*============================================================================================*/
#audio-select .inner {
    margin: 0 auto 20px;
    width: 350px;
}

/*============================================================================================*/
/* Оформление */
/*============================================================================================*/
h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px;
}

p {
    color: #cccccc;
    font-size: 14px;
    margin: 0 0 20px;
}

/*============================================================================================*/
/*Статистика */
/*============================================================================================*/
table {
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0 auto 20px;
    width: 348px;
}

th {
    background: rgba(41, 41, 41, .75);
    padding: 6px 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

td {
    background: rgba(41, 41, 41, .5);
    padding: 6px 16px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 50%;
}

/*============================================================================================*/
/*Уровни */
/*============================================================================================*/
strong {
    color: #ffffff;
    font-weight: bold;
}

.levelList {
    clear: both;
    margin: 0 0 10px;
    position: relative;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.levelWrap {
    clear: none;
    float: left;
    margin: 0 5px 15px;
    position: relative;
}

.level .levelScore {
    color: #999;
    bottom: 12px;
    display: block;
    font-style: normal;
    font-size: 14px;
}

.level span {
    line-height: 18px;
    text-align: center;
}

.levelList .levelWrap .level.disabled span {
    color: #999999;
}

.levelWrap .level {
    clear: none;
    height: 40px;
    position: relative;
    width: 125px;
}

.levelWrap:nth-child(1) .level span {
    color: hsl(30, 100%, 50%);
}

.levelWrap:nth-child(2) .level span {
    color: hsl(60, 100%, 50%);
}

.levelWrap:nth-child(3) .level span {
    color: hsl(90, 100%, 50%);
}

.levelWrap:nth-child(4) .level span {
    color: hsl(120, 100%, 50%);
}

.levelWrap:nth-child(5) .level span {
    color: hsl(150, 100%, 50%);
}

.levelWrap:nth-child(6) .level span {
    color: hsl(180, 100%, 50%);
}

.levelWrap:nth-child(7) .level span {
    color: hsl(210, 100%, 50%);
}

.levelWrap:nth-child(8) .level span {
    color: hsl(240, 100%, 50%);
}

.levelWrap:nth-child(9) .level span {
    color: hsl(270, 100%, 54%);
}

.levelWrap:nth-child(10) .level span {
    color: hsl(300, 100%, 58%);
}

.levelSuccess {
    color: #7f7;
}

.levelFail {
    color: #f22;
}

/*============================================================================================*/
/*Game Bar */
/*============================================================================================*/
#gameBar {
    display: none;
    left: 0;
    top: 580px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    width: 800px;
    z-index: 9;
}

#gameBar a {
    display: block;
    background: rgba(255, 255, 255, .08);
    color: #cccccc;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    margin: 1px 1px 0 1px;
    padding: 0 15px;
    width: 50px;
}

#gameBar a:hover {
    background: rgba(255, 255, 255, .1);
    color: #ffffff;
}

#gameBar #toggleLeft, #gameBar #toggleRight {
    float: left;
}

#gameBar #toggleUp, #gameBar #toggleDown {
    float: right;
}